<div class="scanner-shell" [hidden]="!hasDevices">

  <!-- <header>
      <select (change)="onDeviceSelectChange($event.target.value)">
        <option value="" [selected]="!currentDevice">No Device Selected</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
      </select>
    </header> -->

  <zxing-scanner #scanner [(device)]="currentDevice" (scanSuccess)="changeMessage($event)" [formats]="['EAN_13', 'CODE_128', 'QR_CODE']" [tryHarder]="true"
    (hasDevices)="hasDevices = $event" (permissionResponse)="hasPermission = $event">
  </zxing-scanner>
</div>

<div class="modal" [ngClass]="{ 'is-active' : qrResultString }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <p>{{ qrResultString }}</p>
      <a class="button is-danger" (click)="clearResult()">
        <p>Connect</p>
      </a>
    </section>
  </div>
</div>