
  <div class="logo has-text-centered">
    <img style="width: 10em;" src="assets/logo.svg">
  </div>
  <div class="middle-text has-text-centered">
    <p class="subtitle is-5">Scan the QR code in front of you to get started!</p>
  </div>

<div class="scanner">
  <div class="frame1"></div>
  <div class="frame2"></div>
  <div class="frame3"></div>
  <div class="frame4"></div>
  <app-scanner></app-scanner>
</div>
<nav class="level navbar is-fixed-bottom has-text-centered">
  <div class="level-item has-text-centered">
    <div class="column">
      <span class="small">Already have an account?</span>
      <div class="button is-fullwidth is-black is-outlined is-medium">
        <span class="is-small has-text-weight-bold is-size-7">
          LOGIN
        </span>
      </div>
    </div>
    <div class="column">
      <span class="small">Set up a new account?</span>
      <div class="button is-fullwidth is-black is-medium">
        <span class="is-small has-text-weight-bold is-size-7">
          REGISTER
        </span>
      </div>
    </div>
  </div>
</nav>