
  <div class="section has-text-centered">
    <div class="container logo">
      <img style="width: 50%; height: 50%;" src="assets/logo.svg">
    </div>
    <div class="container">
      <p class="subtitle is-4">Scan the QR code in front of you to get started!</p>
    </div>
    <div class="container scanner">
    </div>
  </div>
<nav class="level navbar is-fixed-bottom has-text-centered">
  <div class="level-item has-text-centered">
    <div class="column">
      <span class="is-size-7">Already have an account?</span>
      <div class="button is-fullwidth is-black is-outlined is-medium">
        <span class="is-small has-text-weight-bold is-size-7">
          LOGIN
        </span>
      </div>
    </div>
    <div class="column">
      <span class="is-size-7">Set up a new account?</span>
      <div class="button is-fullwidth is-black is-medium">
        <span class="is-small has-text-weight-bold is-size-7">
          REGISTER
        </span>
      </div>
    </div>
  </div>
</nav>