<div *ngIf="!cs.qrResultString && auth.page == 0; then home else form"></div>

<ng-template #home>

  <!-- logo and text -->
  <div class="logo has-text-centered">
    <img style="width: 10em;" src="assets/logo.svg">
  </div>
  <div class="middle-text has-text-centered">
    <p class="subtitle is-5">Scan the QR code in front of you to get started!</p>
  </div>

  <!-- scanner -->
  <div class="scanner">
    <div class="frame1"></div>
    <div class="frame2"></div>
    <div class="frame3"></div>
    <div class="frame4"></div>
    <app-scanner></app-scanner>
  </div>

  <!-- bottom navigation bar -->
  <nav class="level navbar is-fixed-bottom has-text-centered" *ngIf="!cs.qrResultString">
    <div class="level-item has-text-centered">
      <div class="column">
        <span class="small">Already have an account?</span>
        <button class="button is-fullwidth is-black is-outlined is-medium" (click)="auth.togglePage(1)">
            <span class="is-small has-text-weight-bold is-size-7">LOGIN</span>
          </button>
      </div>
      <div class="column">
        <span class="small">Set up a new account?</span>
        <button class="button is-fullwidth is-black is-medium" (click)="auth.togglePage(2)">
          <span class="is-small has-text-weight-bold is-size-7">REGISTER</span>
        </button>
      </div>
    </div>
  </nav>

</ng-template>

<ng-template #form>
  <div *ngIf="auth.page == 1">
    <app-login></app-login>
  </div>
  <div *ngIf="auth.page == 2">
    <app-register></app-register>
  </div>
</ng-template>